<html>
<head>
	<title>Introduction</title>
	<link rel="stylesheet" href="style/main.css" type="text/css" />
</head>
<body>
	<h1>{{info.title}}</h1>
	<p><b>By: {{info.author}}</b></p>
	<p>{{info.description|safe}}</p>
	<p>Status: {{info.status}}</p>
	<p>Published: {{info.ficCreated.date()}}</p>
	{% if info.ficCreated != info.ficUpdated %}
	<p>Updated: {{info.ficUpdated.date()}}</p>
	{% endif %}
	<p>Words: {{info.words}}</p>
	{% if info.chapters > 1 %}
	<p>Chapters: {{info.chapters}}</p>
	{% endif %}
	{% if info.extraMeta is not none and info.extraMeta|length %}
	<p>{{info.extraMeta}}</p>
	{% endif %}
	{% if info.source|length %}
	<p>Original source:
		<a rel="noopener noreferrer" href="{{info.source}}">{{info.source}}</a></p>
	{% endif %}
	<p>Exported with the assistance of
		<a href='https://fichub.net'>FicHub.net</a></p>
</body>
</html>
