html
  font-size: 1rem
  font-family: sans-serif
  overflow-wrap: break-word

@media (min-width: 20rem)
  html
    font-size: 1.125rem

@media (min-width: 40rem)
  html
    font-size: 1.25rem

@media (min-width: 60rem)
  html
    font-size: 1.5rem

button, input
  font-size: 1.1em
  margin: .3em 0
  padding: .3em

.e
  padding: 1em .2em

#q
  width: 98%

.b
  font-family: monospace
  font-weight: bold
  font-size: 1.3rem

#m
  width: 90%
  max-width: 960px
  margin: 0 auto

#i
  min-height: 40px

#i p
  padding: .4em .1em

.h
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.n
  padding: 0.15em

.c
  text-align: center

.l
  max-width: 100%
  max-height: 100%

.w
  height: 1em
  line-height: 1em

