html
  font-size: 24px
  font-family: sans-serif
  overflow-wrap: break-word

button, input
  font-size: 1.1em
  margin-top: .3em
  margin-bottom: .3em
  padding: .3em

.cache-entry
  padding: 1em .2em

#q
  width: 98%

.btn-ref
  font-family: monospace
  font-weight: bold

#content
  width: 90%
  max-width: 960px
  margin: 0 auto

#info
  min-height: 40px

#info p
  padding: .4em .1em

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.pagEl
  padding: 0.15em

.center
  text-align: center

