html { font-size: 24px; font-family: sans-serif; }
button, input {
	font-size: 1.1em;
	margin-top: .3em; margin-bottom: .3em;
	padding: .3em;
}
li { padding: .2em; }
#q { width: 98%; }

.btn-ref { font-family: monospace; font-weight: bold; }

#content {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}
#info {
	min-height: 120px;
}

