{% extends "layout.html" %}
{% block content %}
	<nav>
		<h2><a href=/>Home</a></h2>
	</nav>
	<main>
	<h1>Cached EPUBs</h1>
	{% for item in cache %}
	<p class='cache-entry'>
		<a href="{{ item.href }}">{{ item.ficInfo.title }} by {{ item.ficInfo.author }}</a>
		{% if (item.ficInfo.description|striptags).strip()
			!= item.ficInfo.title ~ " by " ~ item.ficInfo.author %}
		<br />
		{{ item.ficInfo.description|striptags }}
		{% endif %}
		<br />
		{{ item.ficInfo.words }} words in {{ item.ficInfo.chapters }} chapters
	</p>
	{%- endfor %}
	</main>
{% endblock %}
