<section>
<h1>Change History</h1>
<ul>
	<li>2020-12-12: Improve error reporting.</li>
	<li>2020-12-05: Add MOBI and PDF export.</li>
	<li>2020-12-01: Include change history on home page.</li>
	<li>2020-12-01: Add support for Fanfic Paradise.</li>
	<li>2020-11-19: Include source url on
		<a href='/cache/'>cache page</a>.</li>
	<li>2020-11-02: Insert newline before chapter edit date on XenForo
		sites.</li>
	<li>2020-11-02: Include source url in generated EPUB.</li>
	<li>2020-10-31: Add zipped html export.</li>
	<li>2020-10-17: Add support for Bulbagarden Forums and The Fanfiction
		Forum.</li>
	<li>2020-10-08: Improve fic paragraph/line-break detection.</li>
	<li>2020-10-06: Support ?q query parameter (ex:
		<a href='/?q=https://forums.spacebattles.com/threads/nemesis-worm-au.747148'>https://fic.pw/?q=https://forums.spacebattles.com/threads/nemesis-worm-au.747148</a>).
	</li>
	<li>2020-10-06: Include chapter titles in generated EPUB.</li>
	<li>2020-10-06: Include request date on
		<a href='/cache/'>cache page</a>; sort by descending
		request date.</li>
	<li>2020-08-19: Include list of supported sites on home page.</li>
	<li>2020-08-06: Omnibuser is down doesn't seem to be coming back: initial
		site launch as potential replacement. Support for a variety of sites
		including the big three XenForo based sites (SB, SV, QQ).</li>
</ul>
</section>
