<h1>Change History</h1>
<ul>
	<li>2021-06-26: Replace download links with generate links on fic pages when
		alternate formats are out of date.</li>
	<li>2021-06-26: Detect when the upstream API is down and notify the
		user.</li>
{% if fullHistory %}
	<li>2021-06-26: Expand backend storage compatibility with cross-device
		renames (used to support much larger cache size).</li>
	<li>2021-04-25: Improve caching logic for exports; this should improve
		subsequent export times particularly for MOBI and PDF.</li>
	<li>2021-04-23: Expand metadata included in FFN exports. Groundwork has been
		laid to expand it further, and to expand the metadata included in from
		other sources.</li>
	<li>2021-04-07: Add very initial search feature by way of "did you mean?"
		suggestions when an export request fails to find a fic (ex:
		<a href='/?q=nemesis'>https://fichub.net/?q=nemesis</a>).</li>
	<li>2021-03-11: Expand information about our open source efforts and
		friendliness towards downstream tools.</li>
	<li>2021-03-10: Improve stability when multiple simultaneous MOBI or PDF
		exports are requested simultaneously.</li>
	<li>2021-03-10: Support links and other noscript clients.</li>
	<li>2021-02-27: Add additional metadata to exported introduction page.</li>
	<li>2021-02-27: Various speed improvements.</li>
	<li>2021-02-06: Initial implementation of the <a href=/popular>popular</a>
		request page.</li>
	<li>2021-01-05: Add bookmarklet and extend About section.</li>
	<li>2020-12-28: Redesign, rename due to tld issues.</li>
	<li>2020-12-12: Improve error reporting.</li>
	<li>2020-12-05: Add MOBI and PDF export.</li>
	<li>2020-12-01: Include change history on home page.</li>
	<li>2020-12-01: Add support for Fanfic Paradise.</li>
	<li>2020-11-19: Include source url on
		<a href='/cache/'>cache page</a>.</li>
	<li>2020-11-02: Insert newline before chapter edit date on XenForo
		sites.</li>
	<li>2020-11-02: Include source url in generated EPUB.</li>
	<li>2020-10-31: Add zipped html export.</li>
	<li>2020-10-17: Add support for Bulbagarden Forums and The Fanfiction
		Forum.</li>
	<li>2020-10-08: Improve fic paragraph/line-break detection.</li>
	<li>2020-10-06: Support ?q query parameter (ex:
		<a href='/?q=https://forums.spacebattles.com/threads/nemesis-worm-au.747148'>https://fichub.net/?q=https://forums.spacebattles.com/threads/nemesis-worm-au.747148</a>).
	</li>
	<li>2020-10-06: Include chapter titles in generated EPUB.</li>
	<li>2020-10-06: Include request date on
		<a href='/cache/'>cache page</a>; sort by descending
		request date.</li>
	<li>2020-08-19: Include list of supported sites on home page.</li>
{% else %}
	<li>... see <a href='/changes'>full change history</a></li>
{% endif %}
	<li>2020-08-06: Omnibuser is down doesn't seem to be coming back: initial
		site launch as potential replacement. Support for a variety of sites
		including the big three XenForo based sites (SB, SV, QQ).</li>
</ul>
