{% extends "layout.html" %}
{% block title %}{{ficInfo.title}} by {{ficInfo.author}} | Info |{% endblock %}
{% block content %}
{% include 'nav_frag.html' %}
	<main>
	<h1>{{ ficInfo.title }} by {{ ficInfo.author }}</h1>

	{%- if (ficInfo.description|striptags).strip()
		!= ficInfo.title ~ " by " ~ ficInfo.author %}
	<p>{{ ficInfo.description|striptags }}</p>
	{% endif -%}
	<p>{{ ficInfo.words }} words in {{ ficInfo.chapters }} chapters</p>
	<p>requested {{ mostRecentRequest.strftime('%Y-%m-%d %H:%M UTC') }}</p>
	{%- if ficInfo.source is not none and ficInfo.source|length > 0 -%}
	<p>source:
		<a rel="noopener noreferrer" href="{{ficInfo.source}}">{{ficInfo.source}}</a>
	</p>
	<p><a rel="nofollow" href="/?q={{ficInfo.source|urlencode|replace("/", "%2F")}}">Re-Export</a></p>
	{%- endif -%}
	<ul>

	{% for etype, alreadyGenerated, link in links -%}
	<li class=e><a href='{{link}}'>
	{%- if alreadyGenerated -%}Download {% else -%}Generate and download {% endif -%}
		as {{EXPORT_DESCRIPTIONS[etype]}}</a></li>
	{% endfor %}
	</ul>
	</main>
{% endblock %}
