{% extends "layout.html" %}
{% block content %}
	<main>
	<h1>EPUB Export</h1>
	<p>Enter a fic url and click the <span class='btn-ref'>Export</span> button,
	or view the list of previously exported fics by going to the
	<a href="{{ url_for('cache_listing') }}">Cache</a>.</p>
	<form action="javascript:void(0);">
		<label for="q" class="visuallyhidden">Fic URL:</label>
		<input type="text" size=60 name="q" id="q"
			{% if request.args.get('q', '')|length %}
			value="{{ request.args.get('q', '') }}"
			{% endif %}
			/>
		<br />
		<button onclick="epub()">Export</button>
	</form>
	<div id="info"></div>
	</main>
	<section>
		<h1>Supported Sites</h1>
		<ul>
			<li>XenForo based sites (SB, SV, QQ)</li>
				<!--<ul>
					<li>SpaceBattles</li>
					<li>SufficientVelocity</li>
					<li>QuestionableQuesting</li>
				</ul>-->
			</li>
			<li>FanFiction.net</li>
			<li>FictionPress</li>
			<li>Archive Of Our Own</li>
			<li>Royal Road</li>
			<li>Harry Potter Fanfic Archive</li>
			<li>Sink Into Your Eyes</li>
			<li>AdultFanfiction.org</li>
			<li>Worm, Ward</li>
		</ul>
		<h2>Partial support (or not tested recently):</h2>
		<ul>
			<li>XenForo based sites (Bulbagarden Forums, The Fanfiction Forum,
				Fanfic Paradise)</li>
			<li>Fiction Alley</li>
			<li>Fiction Hunt</li>
			<li>Fanfics.me</li>
			<li>The Sugar Quill (largely untested)</li>
			<li>FanficAuthors (minimal)</li>
			<li>Harry Potter Fanfiction (archive from pre-revival)</li>
		</ul>
	</section>
	<section>
	<h1>Contact</h1>
	<p>Need to report an issue, request support for a site, offer a suggestion,
	want to contribute, or just say 'hi'? Feel free to join
	<a href='https://discord.gg/sByBAhX'>the discord</a>.</p>
	</section>
	{% include 'change_history.html' %}
{% endblock %}
