<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% block head %}
		<title>{% block title %}{% endblock %} Fic.PW</title>
		<meta name="description" content="Export and download fanfiction as EPUB, MOBI, or other formats">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/style/_.css?{{ CACHE_BUSTER }}" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/_.js?{{ CACHE_BUSTER }}" defer></script>
		{% endblock %}
	</head>
	<body>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
